.note-list {
  height: 100%;
  position: relative;
  padding-bottom: 100px;
}

.notes-container {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 15px;
  padding: 20px;
}

.note-item {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-content {
  white-space: pre-wrap;
  word-break: break-word;
}

.note-meta {
  font-size: 0.8em;
  color: black;
  margin-top: 10px;
  display: flex !important;
  justify-content: right !important;
  flex-wrap: wrap;
  font-weight: 600px;
  gap: 10px;
}

.note-input {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  gap: 10px;
  padding: 20px;
  background-color: #001F8B;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .note-input {
    left: 300px;
  }
}

.textarea-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.note-input textarea {
  flex: 1;
  padding: 12px 40px 12px 12px; /* Add space for the button */
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  height: 82px;
  font-size: 1rem;
  box-sizing: border-box;
}

.note-input .submit-button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  border: none;
  background: none; /* Remove background */
  color: #28a745;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
}

/* .note-input button {
  padding: 0 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s ease;
} */

/* .note-input button:not(:disabled):hover {
  background-color: #218838;
  transform: scale(1.05);
} */

.note-input button:disabled,
.note-input button.disabled {
  color: #cccccc;
  cursor: not-allowed;
  opacity: 0.7;
  /* transform: none; */
}

.note-list-header {
  display: flex;
  align-items: center;
  color: white;
  background-color: #001F8B;
  font-weight: bold;
  font-size: 1.2rem;
  /* border-radius: 4px; */
  margin-bottom: 10px;
  gap: 12px;
  padding: 0.5rem;
}

.group-name-large {
  font-size: 1.2rem;
  font-weight: bold;
}

.back-button {
  background: none;
  border: none;
  color: #ffff;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 2px;
}
@media (min-width: 768px) {
  .back-button {
    display: none;
  }
}